<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bugil.bada.bugilapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/bugilgo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activity -->
        <activity
            android:name=".activity.main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".talk"
            android:theme="@style/AppTalkTheme"
            android:label="@string/title_activity_bap">

            </activity>

        <activity
            android:name=".activity.bap.BapActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bap"
            android:theme="@style/AppGreenTheme" />
        <activity
            android:name=".activity.timetable.TimeTableActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_time_table"
            android:theme="@style/AppIndigoTheme" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.notice.NoticeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.notice.NoticeSendActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notice_send"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.schedule.ScheduleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.exam.ExamTimeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_exam_range"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BugilTalk"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bugil_talk"
            android:theme="@style/AppTheme" />
        <activity
            android:name="net.daum.adam.publisher.impl.AdInterstitialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- AutoUpdate -->
        <receiver
            android:name=".autoupdate.BroadCast"
            android:label="@string/title_broadcast_autoupdate"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".autoupdate.updateService"
            android:label="@string/title_service_autoupdate" />

        <!-- AppWidget -->
        <receiver
            android:name=".widget.BapWidget"
            android:label="@string/widget_bap_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bap_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.TimeTableWidget"
            android:label="@string/widget_timetable_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_table_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetBroadCast"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StopWatch"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_stop_watch"
            android:theme="@style/AppLightBlueTheme" />
        <activity
            android:name=".Notice"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notice1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SchoolNotice"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notice1"
            android:theme="@style/AppTestTheme" />
    </application>

</manifest>